*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size:xx-large;
    font-weight: bolder;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    flex: 1;
}

nav{
    background-color: rgb(195, 193, 193);
    width: 20%;
    padding: 20px;
    min-width: 150px;
}

nav ul{
    list-style-type: none;
}

nav li{
    margin-bottom: 10px;
}

section{
    background-color: white;
    flex: 1;
    padding: 20px;
    text-align: justify;
    border-left: 2px grey;
    border-right: 2px grey; 
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    float: right;
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.gallery-large{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gallery-small{
    width: calc(50% - 5px);
    height: 100px;
    object-fit: cover;
    flex-grow: 1;
}

p{
    margin-bottom: 20px;
}

aside{
   background-color: rgb(195, 193, 193);
   width: 20%;
   padding:20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center; 
    padding: 15px;
    clear: both;
    margin-top: 20px;
    font-weight: bold;
}