*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size:xx-large;
    font-weight: bolder;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    flex: 1;
}

nav{
    background-color: rgb(195, 193, 193);
    width: 20%;
    padding: 20px;
    min-width: 150px;
}

nav ul{
    list-style-type: none;
}

nav li{
    margin-bottom: 10px;
}

section{
    background-color: white;
    flex: 1;
    padding: 20px;
    text-align: justify;
    border-left: 2px grey;
    border-right: 2px grey; 
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    float: right;
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.gallery-large{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gallery-small{
    width: calc(50% - 5px);
    height: 100px;
    object-fit: cover;
    flex-grow: 1;
}

p{
    margin-bottom: 20px;
}

aside{
   background-color: rgb(195, 193, 193);
   width: 20%;
   padding:20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center; 
    padding: 15px;
    clear: both;
    margin-top: 20px;
    font-weight: bold;
}


/* form page styles */

.form-page-layout{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-wrapper{
    background-color: lightgrey;
    padding: 20px;
    width:60%;
    border-radius: 5px;
}

.form-group{
    margin-bottom: 15px;
}

.form-wrapper label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-wrapper-input[type="text"],
.form-wrapper-input[type="email"],
.form-wrapper select{
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    background-color: white;
}

.checkbox-group label{
    display: inline;
    font-weight: normal;
    margin-right: 10px;
}

.buttons{
    margin-top: 20px
}

/* error box styles */

.error-wrapper{
    width: 35%;
}

.error-box{
    background-color: yellow;
    border: 1px solid grey;
    padding: 15px;
    color:red;
    font-weight: bold;
    text-align: left;
}

.error-title{
    color: red;
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
}

.results-box {
    border: 2px solid red;       
    background-color: lightgrey; 
    padding: 20px;
    width: 60%;
    margin-top: 20px;
}

.results-header {
    color: green;
    text-decoration: underline;
    margin-bottom: 10px;
    font-weight: bold;
}

.results-content {
    color: green;
    font-weight: bold;
    line-height: 1.8;
}

.results-content p {
    margin: 5px 0;
}